@font-face {
  font-family: Paulistana;
  src: url(../Paulistana-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Paulistana;
}
body {
  display: flex;
  display: flex;
  align-items: center;
  background-color: white;
  flex-direction: column;
}

#goBack {
  position: fixed;
  top: 15px;
  left: 15px;
  width: 60px;
  height: 60px;
  background-color: white;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 40px;
}

.character {
  display: flex;
  flex-direction: column;
}

.name {
  width: 100%;
  text-align: center;
}

.button {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  background-size: cover;
  cursor: pointer;
  width: 150px;
  height: 150px;
  transition: all 0.2s ease;
  font-size: 20px;
  border-radius: 50%;
}
.button:active {
  transform: scale(0.96);
}
.button:before,
.button:after {
  position: absolute;
  content: '';
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}
.button.animate::before {
  top: -70%;
  background-image: radial-gradient(circle, #f1c40f 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #27ae60 20%, transparent 30%),
    radial-gradient(circle, #f1c40f 20%, transparent 20%),
    radial-gradient(circle, #27ae60 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #f1c40f 15%, transparent 20%),
    radial-gradient(circle, #27ae60 20%, transparent 20%),
    radial-gradient(circle, #f1c40f 20%, transparent 20%),
    radial-gradient(circle, #27ae60 20%, transparent 20%),
    radial-gradient(circle, #f1c40f 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  animation: greentopBubbles ease-in-out 0.6s forwards infinite;
}
@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.button.animate::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #27ae60 20%, transparent 20%),
    radial-gradient(circle, #f1c40f 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #27ae60 15%, transparent 20%),
    radial-gradient(circle, #f1c40f 20%, transparent 20%),
    radial-gradient(circle, #27ae60 20%, transparent 20%),
    radial-gradient(circle, #f1c40f 20%, transparent 20%),
    radial-gradient(circle, #27ae60 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  animation: greenbottomBubbles ease-in-out 0.6s forwards infinite;
}
@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.buttonsHolder {
  margin-top: 15%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  margin: 30px;
  font-size: 50px;
}

h2 {
  font-size: 25px;
  margin: 5px;
  color: #707070;
}
